* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: 'nino';
  transition: 0.3s;
}

@font-face {
  font-family: 'nino';
  src: url("../src/assets/fonts/bpg_nino_mtavruli_normal_[FONTS.GE]/bpg_nino_mtavruli_normal.ttf");
}

@font-face {
  font-family: 'arial';
  src: url("../src/assets/fonts/bpg_arial_2009_[FONTS.GE]/bpg_arial_2009.ttf");
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

:root {
  /* COLOR */
  --primary-bg-clr: #302841;
  --primary-gold-clr: #f5cf67;
  --light-purple-clr: #574975;
  --good-grey-clr: #636863;
  --content-white-clr: #fff;
  --primary-darkBlue-clr: #14384f;
  --blue-clr: #3ba4d8;
  --black-clr: #000;
  /* FONTSIZE */
  --font-size-14px: 14px;
  --font-size-16px: 16px;
  --font-size-18px: 18px;
  /* FONTWEIGHT */
  --font-weight-400: 400;
  --font-weight-700: 700;
  /* LETTERSPACING */
  --letter-spacing-1: 1px;
  --letter-spacing-2pr: 2%;
}

::-webkit-scrollbar {
  display: block;
}

::-webkit-scrollbar-track {
  background-color: var(--content-white-clr);
}

::-webkit-scrollbar-thumb {
  background-color: var(--light-purple-clr);
  border-radius: 20px;
}

button {
  background-color: transparent;
}

.text-sm {
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-14px);
}

.text {
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-16px);
  letter-spacing: var(--letter-spacing-1);
  line-height: 22px;
}

.text-bg {
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-18px);
  letter-spacing: var(--letter-spacing-2pr);
  line-height: 20px;
}

.white-text {
  color: var(--content-white-clr);
}

.btn {
  padding: 10px;
}

.btn:hover {
  letter-spacing: 5px;
  cursor: pointer;
}

.black-text {
  color: var(--black-clr);
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background: radial-gradient(var(--light-purple-clr), var(--primary-bg-clr));
}

/* HEADER START*/
header .navigation img,
main .logo-circle img {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

header {
  padding: 24px 88px;
}

/* HEADER END */
/* MAIN START */
main {
  margin-top: 100px;
}

.person-info-container {
  max-width: 600px;
  margin-right: 90px;
}

.person-info-container .person-info-box {
  width: 100%;
  padding: 65px 42px;
  background-color: var(--primary-gold-clr);
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: center;
}

.person-info-container .person-info-box .logo-circle {
  position: absolute;
  top: -155px;
  background: radial-gradient(var(--light-purple-clr), var(--primary-bg-clr));
  border-radius: 50%;
  border: 2px solid var(--content-white-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 310px;
  height: 310px;
  box-shadow: 0 10px 10px var(--black-clr);
}

.person-info-container .social-icons-container {
  width: fit-content;
  margin: auto;
  margin-top: 26px;
  gap: 46px;
}

.person-info-container .person-info-box .small-circle {
  top: 18px;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: radial-gradient(var(--light-purple-clr), var(--primary-bg-clr));
}

.person-info-container .person-info-box .small-circle:nth-child(1) {
  left: 15px;
}

.person-info-container .person-info-box .small-circle:nth-child(3) {
  right: 15px;
}

.person-info-container .person-info-box .person-content {
  margin-top: 120px;
  height: 300px;
  overflow: scroll;
  overflow-x: hidden;
  padding-right: 50px;
  width: 680px;
}

.person-content::-webkit-scrollbar {
  width: 6px;
}

.person-content::-webkit-scrollbar-thumb {
  background-color: var(--content-white-clr);
}

.person-content::-webkit-scrollbar-track {
  background-color: var(--light-purple-clr);
  border-radius: 20px;
}

.rhythm-container {
  width: 40%;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  margin-left: 100px;
}

.rhythm-container .rhythm-box {
  background: radial-gradient(rgba(247, 162, 35, 1),
      rgba(248, 232, 94, 1),
      rgba(235, 131, 87, 1),
      rgba(252, 115, 115, 0.06));
  filter: drop-shadow(0 0 10px rgba(248, 232, 94, 1));
  border-radius: 50%;
  width: 170px;
  height: 170px;
  justify-content: center;
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 10;
}

.dynamic-div {
  background-color: transparent;
  border-radius: 50%;
  border: 2px dashed #F2C94C;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
  pointer-events: none;
  cursor: default;

}

.dot {
  width: 80px;
  height: 80px;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  animation: moveAroundDiv2 5s infinite linear;
  offset-rotate: 1turn;
  background-color: #2D9CDB;
  z-index: 12;
}

.dot .dot-head {
  border: 5px solid #F2C94C;
  box-shadow: 7px 7px 27px 0 var(--black-clr);
  border-radius: 50%;
  border-radius: 50%;
}

.dot .dot-head img {
  width: 100%;
}

.dot .dot-body {
  border: 5px solid #2D9CDB;
  background-color: #F2C94C;
  width: 100%;
  padding: 10px;
  height: 20px;
  border-radius: 60px;
  position: absolute;
  bottom: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot .dot-body h4 {
  font-weight: var(--font-weight-700);
  color: var(--primary-darkBlue-clr);
  letter-spacing: 2px;
  font-family: 'nino';
}

.dot-1 {
  animation: moveAroundDiv2 2s infinite linear;
}

.dot-2 {
  animation: moveAroundDiv3 3s infinite linear;
}

.dot-3 {
  animation: moveAroundDiv4 4s infinite linear;
}

.dot-4 {
  animation: moveAroundDiv5 5s infinite linear;
}

.dot-5 {
  animation: moveAroundDiv6 6s infinite linear;
}

.dot-1 .dot-body {
  border: 5px solid #EB5757;
}

.dot-1 .dot-head {
  background-color: #EB5757;
}

.dot-2 .dot-body {
  border: 5px solid #9B51E0;
}

.dot-2 .dot-head {
  background-color: #9B51E0;
}

.dot-3 .dot-body {
  border: 5px solid #2D9CDB;
}

.dot-3 .dot-head {
  background-color: #2D9CDB;
}

.dot-4 .dot-body {
  border: 5px solid #333333;
}

.dot-4 .dot-head {
  background-color: #333333;
}

.dot-5 .dot-body {
  border: 5px solid #828282;
}

.dot-5 .dot-head {
  background-color: #828282;
}

.scale:hover {
  transform: scale(1.2);
}

.music-anim-run {
  animation: music-animation 1s infinite ease-in-out;
  animation-play-state: running;
}

.run {
  /* animation: moveAroundDiv 2s linear infinite; */
  animation-play-state: running;
}

.pause {
  animation-play-state: paused;
}

@keyframes moveAroundDiv2 {
  0% {
    transform: rotate(0deg) translate(140px, 0) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translate(140px, 0) rotate(-360deg);
  }
}

@keyframes moveAroundDiv3 {
  0% {
    transform: rotate(0deg) translate(205px, 0) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translate(205px, 0) rotate(-360deg);
  }
}

@keyframes moveAroundDiv4 {
  0% {
    transform: rotate(0deg) translate(280px, 0) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translate(280px, 0) rotate(-360deg);
  }
}

@keyframes moveAroundDiv5 {
  0% {
    transform: rotate(0deg) translate(372px, 0) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translate(372px, 0) rotate(-360deg);
  }
}

@keyframes moveAroundDiv6 {
  0% {
    transform: rotate(0deg) translate(445px, 0) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translate(445px, 0) rotate(-360deg);
  }
}

.music-anim-pause {
  animation-play-state: paused;
}

@keyframes music-animation {
  0% {
    background: radial-gradient(rgba(247, 162, 35, 1),
        rgba(248, 232, 94, 1),
        rgba(235, 131, 87, 1),
        rgba(252, 115, 115, 0.06));
    filter: drop-shadow(0 0 10px rgba(248, 232, 94, 1));
    width: 170px;
    height: 170px;
  }

  50% {
    background: radial-gradient(rgba(247, 162, 35, 1),
        rgba(248, 232, 94, 1),
        rgba(235, 131, 87, 1),
        rgba(252, 115, 115, 0.06));
    filter: drop-shadow(0 0 10px rgba(248, 232, 94, 1));
    width: 200px;
    height: 200px;
  }

  100% {
    background: radial-gradient(rgba(247, 162, 35, 1),
        rgba(248, 232, 94, 1),
        rgba(235, 131, 87, 1),
        rgba(252, 115, 115, 0.06));
    filter: drop-shadow(0 0 10px rgba(248, 232, 94, 1));
    width: 170px;
    height: 170px;
  }
}

/* MAIN END */
/* LOGIN START */
.form {
  background: linear-gradient(to bottom, rgba(52, 81, 97, 1), rgba(123, 90, 90, 1));
  padding: 44px 50px 60px 50px;
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 1px solid var(--content-white-clr);
  border-radius: 2px;
}

.form .parallelogram {
  width: 184px;
  height: 54px;
  transform: skew(-40deg);
  background: rgba(235, 87, 87, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 40px;
}

.form .parallelogram div {
  transform: skew(40deg);
  text-align: center;
}

.form .login-btn {
  background-color: rgba(52, 81, 97, 1);
  padding: 12px;
  width: 230px;
  border: 1px solid var(--content-white-clr);
}

.form form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  border-radius: 2px;
}

.form input {
  width: 286px;
  height: 56px;
  padding-left: 24px;
  border-radius: 2px;
  background-color: rgba(195, 182, 178, 1);
  font-family: 'arial';
}

.form input::placeholder {
  color: rgba(80, 28, 28, 1);
}

.form .login-btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

@media screen and (max-width: 400px) {
  .form {
    width: 100%;
    padding: 80px 10px 30px 10px;
    height: 100%;
    border: none;
  }
}

.main-navigation {
  padding: 72px 0;
  position: absolute;
  background-color: rgba(51, 51, 51, 1);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid var(--content-white-clr);
  border-left: none;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.main-navigation ul {
  display: flex;
  flex-direction: column;
  background-color: rgba(51, 51, 51, 1);
  width: fit-content;
}

.main-navigation ul a {
  color: var(--content-white-clr);
  padding: 24px;
}

.white-info-container {
  background-color: var(--content-white-clr);
  border-radius: 20px;
  box-shadow: inset 4px 4px 20px 0 rgba(77, 77, 77, 1);
  padding-top: 66px;
  width: 70%;
  aspect-ratio: 1.7;
  float: right;
  margin-right: 50px;
  margin-top: 50px;
}

.mtavari-container {
  padding-bottom: 98px;
}

.mtavari-container .mtavari-image {
  margin: 0 auto;
  width: 500px;
  height: 350px;
  outline: 20px solid var(--black-clr);
  position: relative;
}

.mtavari-container .mtavari-image img {
  width: 100%;
  height: 100%;
}

.mtavari-container .mtavari-image:hover {
  transform: scale(1.2);
}

.mtavari-container .goodMorning {
  text-align: center;
  font-weight: var(--font-weight-400);
  font-size: 48px;
  letter-spacing: 12%;
  line-height: 56px;
  margin-bottom: 114px;
}

.mtavari-container .mtavari-image .small-logo {
  width: 40px;
  height: 40px;
  z-index: 2;
  position: absolute;
  left: 16px;
  bottom: 16px;
}

.mtavari-container .mtavari-image .small-logo img {
  width: 100%;
}

.main-navigation ul a.active-nav {
  background-color: var(--content-white-clr);
  color: var(--black-clr);
}

.main-navigation ul {
  gap: 30px;
}

.main-navigation ul a {
  display: flex;
  align-items: center;

}

.main-navigation ul a img {
  width: 18px;
  margin-right: 10px;
}

.group-members-container,
.group-about-container,
.social-links-container {
  width: 90%;
  margin: auto;
  height: 800px;
}

.group-members-container .group-members-header,
.group-about-container .group-about-header,
.social-links-container .social-links-header {
  margin: 0 auto;
  text-align: center;
  width: 80%;
  border-bottom: 1px solid var(--black-clr);
  padding: 20px 0;
}

.group-about-container .group-about-body {
  height: 700px;
  overflow-y: scroll;
}

.social-links-container .social-links-body {
  height: 700px;
  overflow-y: scroll;
}

.group-about-container .group-about-body .group-about-text {
  height: 370px;
  padding-right: 40px;
  padding-left: 40px;
}

.group-about-container .group-about-body .group-about-image {
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 32px auto 48px;
  border: 6px solid #3B5495;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.group-links-image {
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  height: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.group-about-container .group-about-body .profile {
  position: relative;
  width: fit-content;
  margin: auto;
}

.group-about-container .group-about-body .profile img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.group-about-container .group-about-body .profile .choose-image {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  background-color: #C4C4C4;
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--content-white-clr);
  box-shadow: 2px 3px 12px 0 var(--black-clr);
  bottom: 15px;
  right: 0px;
}

.choose-image {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  background-color: #C4C4C4;
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--content-white-clr);
  box-shadow: 2px 3px 12px 0 var(--black-clr);
  bottom: 15px;
  right: 0px;
}

.group-about-container .group-about-body .profile .choose-image:hover {
  transform: scale(1.2);
}

.group-about-container .group-about-body .profile .choose-image img {
  width: 30px;
}

.choose-image img {
  width: 10px;
}

#image-upload,
.camera {
  position: absolute;
  bottom: 0px;
  right: 0px;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}

.group-about-body::-webkit-scrollbar,
.edit-input::-webkit-scrollbar,
.social-links-body::-webkit-scrollbar {
  width: 6px;
}

.group-about-body::-webkit-scrollbar-thumb {
  background-color: #87AEC5;
}

.edit-input::-webkit-scrollbar-thumb,
.social-links-body::-webkit-scrollbar-thumb {
  background-color: #87AEC5;
}

.group-about-body::-webkit-scrollbar-track,
.edit-input::-webkit-scrollbar-track,
.social-links-body::-webkit-scrollbar-track {
  background-color: var(--primary-darkBlue-clr);
  border-radius: 20px;
}

.group-about-container .group-about-body .edit-btn {
  position: fixed;
  left: 550px;
  bottom: 250px;
  border-radius: 50px;
  padding: 10px;
  background-color: #C4C4C4;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border: var(--primary-darkBlue-clr) 1px solid;
}

.group-about-container .group-about-body .edit-btn:hover {
  transform: scale(1.5);
}

.group-about-container .group-about-body .edit-btn img {
  width: 24px;
  height: 24px;
}

.edit-input {
  height: 550px;
  width: 100%;
  margin-top: 40px;
  padding: 20px 40px;
  border-radius: 20px;
  vertical-align: top;
  background-color: #e5e5e5;
  box-shadow: 2px 4px 14px 0px black;
  resize: none;
}

.save-btn {
  background-color: #53C02C;
  border-radius: 10px;
  color: var(--content-white-clr);
  width: 160px;
  padding: 15px;
  margin: 26px auto 10px;
  display: block;
  font-weight: var(--font-weight-400);
}

.save-btn:hover {
  transform: scale(1.2);
}

.goback-btn {
  color: #3A7DA3;
  display: block;
  margin: auto;
  font-weight: var(--font-weight-700);
  text-decoration: underline;
}

.goback-btn:hover {
  letter-spacing: 5px;
}

/*  */
.social-links-container .social-links-body .all-todos-container {
  gap: 56px;
  flex-direction: column;
  display: flex;
  margin-top: 20px;
}

.social-links-container .edit-delete-btn-container {
  gap: 56px;
}

.social-links-container .social-links-body .todo {
  background-color: #333333;
  padding: 18px 28px;
  border-radius: 5px;
}

.todo input.todo-href {
  width: 340px;
  text-decoration: underline;
}

.todo .soc-image {
  width: 45px;
  height: 45px;
  overflow: hidden;
  position: relative;
  background-color: red;
  border-radius: 50%;
}

.todo .soc-image img.soc {
  width: 100%;
  height: 40px;
}
.todo
{
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
  box-shadow: 2px 4px 14px 0 black;
}
.social-links-container .social-links-body .todo .todo-title {
  background-color: transparent;
  color: var(--content-white-clr);
}

.social-links-container .social-links-body .todo .todo-href {
  color: blue;
  background-color: transparent;
}

.soc-image .choose-image {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  background-color: #C4C4C4;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--content-white-clr);
  box-shadow: 2px 3px 12px 0 var(--black-clr);
  bottom: 0px;
  right: 0px;
}

.social-iamge {
  width: 100%;
}

.all-todos-container .todo-content {
  gap: 50px;
}

.add-soc-panel {
  flex-direction: column;
  gap: 40px;
}

.add-soc {
  margin-top: 50px;
  margin-bottom: 50px;
  position: fixed;
  bottom: -38px;
  left: 55%;
  background-color: var(--content-white-clr);
}

.social-panel {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  margin: auto;
  padding-top: 66px;
  margin-top: 20px;
  background-color: var(--content-white-clr);
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(77, 77, 77, 1);
}

.social-input {
  height: 54px;
  border: 1px solid var(--primary-darkBlue-clr);
  border-radius: 6px;
  text-align: center;
  display: block;
  margin: auto;
}

.social-input.soc-name {
  width: 280px;
  margin-bottom: 40px;
}

.social-input.soc-link {
  width: 500px;
}

.social-image-container {
  position: relative;
}

.social-image-container input {
  position: absolute;
  bottom: 0px;
  right: 0px;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}

.social-image-container .choose-image {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 5px;
  right: -5px;
  z-index: 10;
}

.social-image-container .soc-imageurl {
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.social-image-container .soc-imageurl img {
  width: 100%;
  height: 100%;
}